In [1]:
import pandas as pd

# Food Carbon Footprint datasets

In [2]:
agri = pd.read_csv('data/Agriculture_Product_CarbonFootPrint.csv')
diary = pd.read_csv('data/Diary_CarbonFootPrint.csv')
meat = pd.read_csv('data/Meats_CarbonFootPrint.csv')
fish = pd.read_csv('data/fish_CarbonFootPrint.csv')
processed_agri = pd.read_csv('data/Processed_Agri_Product_CarbonFootPrint.csv')

In [3]:
agri.drop(columns=['Type / Greenhouse'], inplace=True)

In [4]:
fish.drop(columns=['Type'], inplace=True)

In [5]:
df = pd.concat([agri, diary, meat, fish, processed_agri], ignore_index=False)

In [6]:
df

,Food item,Carbon kg CO2eq/kg,Food Item,Carbon kg CO2eq/kg
0,date,0.60,NaN,NaN
1,olives,0.64,NaN,NaN
2,raisin,0.81,NaN,NaN
3,barley,0.48,NaN,NaN
4,maize,0.48,NaN,NaN
...,...,...,...,...
95,NaN,0.87,wine red (see: box wine),NaN
96,NaN,0.44,wine white (see: box wine),NaN
97,NaN,0.82,yeast compressed,NaN
98,NaN,3.29,yeast dried,NaN
99,NaN,0.50,yeast liquid,NaN

# Carbon FootPrint Value in Different Food Items

In [7]:
FoodItems = pd.read_csv('data/carbonprint.csv')

In [8]:
FoodItems.columns

Index(['Unnamed: 0', 'group', 'category', 'french_name', 'name',
       'rating_quality', 'footprint'],
      dtype='object')

In [9]:
FoodItems.drop(columns=['Unnamed: 0', 'french_name', 'rating_quality' ], axis=1, inplace=True)

In [10]:
FoodItems

,group,category,name,footprint
0,drinks,soft drinks,"Almond drink not sweet, not fortified, prepacked",0.371619
1,drinks,soft drinks,"Apple juice, pure juice",0.500601
2,"fruits, vegetables, pulses and oilseeds",fruits,"Apple, Canada, pulp, raw",0.396515
3,"fruits, vegetables, pulses and oilseeds",fruits,"Apple, pulp and peel, raw",0.396515
4,"fruits, vegetables, pulses and oilseeds",fruits,"Apple, pulp, raw",0.396515
...,...,...,...,...
384,cereal products,flour and pie dough,"Wheat flour, type 80",0.719117
385,starters and mixed dishes,mixed dishes,"White bean stew, canned",0.760242
386,"fruits, vegetables, pulses and oilseeds",vegetables,"White cabbage, raw",0.660820
387,"fruits, vegetables, pulses and oilseeds",potatoes and other tubers,"Yam or Indian potato, peeled, boiled/cooked in...",0.732765
388,"fruits, vegetables, pulses and oilseeds",potatoes and other tubers,"Yam or Indian potato, peeled, raw",0.447285

In [13]:
FoodItems.to_csv('datasets/Different Food Items.csv', index=False)